h1 {
  text-align: center;
}

body {
  background-color: darkblue;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#juego {
  flex-shrink: 0;

}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title h2 {
  margin: 0;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  color:chocolate;
  font-variant: initial;
}

@font-face {
  font-family: "Toonway";
  src: url("../assets/fonts/ToonwayFilled.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Keneric";
  src: url("../assets/fonts/Keneric.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelAE-Regular";
  src: url("../assets/fonts/PixelAE-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelAE-Bold";
  src: url("../assets/fonts/PixelAE-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
