h1 {
  text-align: center;
}

body {
  background-color: darkblue;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#juego {
  flex-shrink: 0;

}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title h2 {
  margin: 0;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  color:chocolate;
  font-variant: initial;
}